BACKEND_URL=https://server-medi-store-l2-b6-a4.vercel.app
FRONTEND_URL=http://localhost:3000



# AUTH_URL=https://server-medi-store-l2-b6-a4.vercel.app/api/auth
AUTH_URL=http://localhost:5000/api/auth



API_URL= http://localhost:5000
# API_URL= https://server-medi-store-l2-b6-a4.vercel.app




NEXT_PUBLIC_TEST=hello


NEXT_PUBLIC_API_URL=http://localhost:5000
# NEXT_PUBLIC_API_URL=https://server-medi-store-l2-b6-a4.vercel.app

NEXT_PUBLIC_BACKEND=https://server-medi-store-l2-b6-a4.vercel.app
